.app{
  min-height: 100vh;
  background: rgb(95,167,190);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
}

.pic{
  width: 40px;
  margin-left: 10px;
}
.name{
  margin-left: 10px;
  text-align: left;
}

.tag{
  margin-left: 11px;
  font-size: small;
  color: grey;
}

.message{
  margin-left: 10px;
  text-align: left;
}

.line{
  border-top: 1px lightgray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like{
  margin-left: 10px;
  padding-top: 5px;
  text-align: left;
  width: 20px;
}

.tweet{
  padding: 10px;
  height: 220px;
  width: 320px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

/* .red{
  color: red;
  font-size: 50px; 
} */